Source: girl
Section: gnome
Priority: optional
Maintainer: Ole Aamot <ole@src.gnome.org>
Standards-Version: 3.9.6
Homepage: https://wiki.gnome.org/Apps/Girl
Build-Depends: debhelper (>> 9.0.0),
	       pkg-config (>> 0.28-0),
	       libgtk2.0-dev (>> 2.24.24-1),
	       libgnome2-dev (>> 2.32.1-4),
	       libxml2-dev (>> 2.9.0),
	       libgnomevfs2-dev (>> 2.24.5),
	       libgnomeui-dev (>> 2.24.5),
	       intltool (>> 0.50.2)

Package: girl
Architecture: any
Depends: ${shlibs:Depends},
	 ${misc:Depends},
	 totem (>> 3.14.0),
	 streamripper (>> 1.64.6)
Description: GNOME Internet Radio Locator
 girl or the GNOME Internet Radio Locator program allows users to
 easily find and record live radio programs on radio broadcasters
 on the Internet.
